<!-- Simo Partanen 1900414 -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Personal profile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Personal information</ion-card-subtitle>
    <ion-card-title>Simo Partanen</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Creator of this app is a student in Laurea University of Applied Sciences and is working currently on developing mobile apps using Ionic.
  </ion-card-content>
</ion-card>
</ion-content>
