<!-- Simo Partanen 1900414 -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Technical skills
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mobile app developing skills</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Ionic with angular</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>UI/UX understanding</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Coding skills</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Python</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Javascript</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>HTML/CSS</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Other skills</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Managing servers in cloud</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Configuring and managing routers</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="technical">
        <ion-icon name="analytics-outline"></ion-icon>
        <ion-label>Technical Skills</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="soft">
        <ion-icon name="body-outline"></ion-icon>
        <ion-label>Soft skills</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
</ion-content>
